{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}

    {% if app.user %}
        <a href="{{ path('app_transaction_new') }}">Créer une transaction</a>
        
    {% else %}
        <div class="mb-3">
            Connectez vous pour voir les informations 
        </div>
    {% endif %}

{% endblock %}
